{deps, [
    {hera, {git , "https://github.com/FrancoisGgg/hera" , {branch , "main"}}},
    {hera_synchronization, {git, "https://github.com/sebkm/hera_synchronization", {branch, "master"}}},
    {grisp, {git, "https://github.com/grisp/grisp", {branch, "master"}}},
    grisp_emulation,
    {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}}
]}.

{erl_opts, [debug_info]}.

{grisp, [
    {otp, [
        {version, "25.2.3"}
    ]},
	{build, [
		{toolchain, [
			{directory, "/home/cedric/TFE/grisp2-rtems-toolchain/rtems/5"}
			%{docker, "grisp/grisp2-rtems-toolchain"}
		]}
    ]},
    {deploy , [
		{pre_script, "rm -rf /media/cedric/GRiSP/*"},
		{destination, "/media/cedric/GRiSP/"}
    ]}
]}.

{shell, [{apps, [
    grisp_emulation,
    grisp ,
    {epmd , none} ,
    balancing_robot,
    hera ,
    runtime_tools
]}]}.

{relx, [
    {release, {balancing_robot, "1.0.0"}, [
        grisp ,
        {epmd , none} ,
        balancing_robot,
        hera ,
        runtime_tools ,
        hera_synchronization
    ]} ,
    {dev_mode , false} ,
    {generate_start_script , true} ,
    {extended_start_script , true} ,
    {sys_config , "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.

{ profiles , [
    {computer , [
        {deps , [
             grisp_emulation
        ]} ,
        {dev_mode , true} ,
        {erl_opts , [
            debug_info
        ]} ,
        {relx , [
            {sys_config_src , "./config/computer.config.src"} ,
            {vm_args, "./config/vm.args"},
            {release , {balancing_robot , "1.0.0"} , [
                grisp ,
                grisp_emulation,
                {epmd , none} ,
                balancing_robot,
                hera ,
                runtime_tools ,
                hera_synchronization
            ]}
        ]}
    ]}
]}.

%% == Dialyzer ==

{ dialyzer , [
    {warnings , [underspecs
        ,        no_return
        ,        unmatched_returns
        ,        error_handling]} ,
    {plt_prefix , "balancing_robot"} ,
    {plt_apps , top_level_deps} ,
    {plt_extra_apps , []}
]}.
